.form-container {
    background-color: #041c45;
    display: flex;
    justify-content: center;
    /* width: 50%;
    height: 75vh; */
    margin: auto;
    flex-direction: column;
    text-align: center;
}

input, select  {
    height: 25px;
    border-radius: 10px;
}


button {
    background-color: #08e8de;
    color: #444444;
    border-radius: 10px;
    height: 30px;
    width: auto;
    padding: 5px;
    margin-left: 5px;
    font-weight: bold;
}

label {
    margin-left: 25px;
    color:   #fbb03b;
    margin-right: 5px;
}

h1, h2 {
    color: #fbb03b;
}


