.form-container {
    /* background-color: #041c45; */
    display: flex;
    justify-content: center;
    margin: auto;
    flex-direction: column;
    align-items: center;
}

.titleForm {
    /* background-color: #041c45; */
    display: flex;
    justify-content: center;
    margin: auto;
    flex-direction: column;
    text-align: center;
    align-items: center;
} 

input, select  {
    height: 25px;
    border-radius: 10px;
}


button {
    background-color:#08e8de ;
    color: #3813e5;
    border-radius: 10px;
    height: 30px;
    width: auto;
    padding: 5px;
    margin-left: 5px;
    font-weight: bold;
    border: 1px;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    border: 3px dotted;
    box-shadow: 1px 1px 5px 5px #00a5ff;
}

label {
    margin-left: 25px;
    color: #3813e5;
    margin-right: 5px;
    font-family: 'Montserrat', sans-serif;
    text-shadow: 0 0 3px #08e8de, 0 0 6px #08e8de;
}

h1, h2 {
    color: #D01698;
    font-family: 'Bangers', cursive;
    letter-spacing: 4px;
}

@media only screen and (min-width: 768px) {

    .form-container {
        /* background-color: #041c45; */
        display: flex;
        justify-content: center;
        margin: auto;
        flex-direction: row;
        text-align: center; 
    }

    .titleForm {
        /* background-color: #041c45; */
        display: flex;
        justify-content: center;
        /* margin: auto; */
        flex-direction: row;
        flex-wrap: wrap;
        text-align: center;
        align-items: center;
        justify-content: space-around;
    }
    
    h1 {
        margin-left: 30px;
    }

    h2 {
        display: flex;
        padding-left: 35px;
    }
    
}
