<div class="formContainer">
    <h1>Find a Movie</h1>
<form class="titleForm" #form="ngForm" (ngSubmit)="getMovieByTitle(form)">
    <label for="title">Search by Title</label>
    <input type="text" name="title" id="title" ngModel>
    <button a routerLink="/movie-list">Search</button>
</form>

<h2>or filter by</h2>

<form class="filterForm" #formData="ngForm" (ngSubmit)="submitForm(formData)">
    <label for="year">Year</label>
    <input type="number" name="year" id="year" ngModel>
    <label for="genre">Genre</label>
    <!-- <select name="genre" id="genre" ngModel>
        <option *ngFor = "let genre of genre" value = "{{ genre.id }}" >{{genre.name}}</option> -->
    <label for="rating">Rating</label>
    <input type="number" name="rating" id="rating" ngModel>
    <button>Submit</button>
<!-- </form> -->
<!-- </div> -->
