.form-container {
    /* background-color: #041c45; */
    display: flex;
    justify-content: center;
    margin: auto;
    flex-direction: column;
    align-items: center;
}

.titleForm {
    /* background-color: #041c45; */
    display: flex;
    justify-content: center;
    margin: auto;
    flex-direction: column;
    text-align: center;
    align-items: center;
} 

input, select  {
    height: 40px;
    width: 300px;
    border-radius: 10px;
}


button {
    background-color: #08e8de;
    color: #444444;
    border-radius: 10px;
    height: 40px;
    width: 300px;
    padding: 15px;
    margin-left: 5px;
    margin-top: 10px;
    font-weight: bold;
    border: 1px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    text-align: center;
}

label {
    margin-left: 25px;
    color:   #444444;
    margin-right: 5px;
    font-family: 'Montserrat', sans-serif;
    
}

h1, h2 {
    color: #D01698;
    font-family: 'Bangers', cursive;
    letter-spacing: 4px;
}

@media only screen and (min-width: 768px) {

    .form-container {

        display: flex;
        justify-content: center;
        margin: auto;
        flex-direction: column;
        text-align: center;
    }

    .titleForm {
        display: flex;
        justify-content: center;
        /* margin: auto; */
        flex-direction: row;
        flex-wrap: wrap;
        text-align: center;
        align-items: center;
        justify-content: space-around;
    }
    
    h1 {
        margin-left: 30px;
    }

    h2 {
        display: flex;
        padding-left: 35px;
    }

    button {
    background-color: #08e8de;
    color: #444444;
    border-radius: 10px;
    height: 30px;
    width: auto;
    padding: 5px;
    margin-left: 5px;
    font-weight: bold;
    border: 1px;
    font-family: 'Montserrat', sans-serif;
}
input, select  {
    height: 25px;
    width: 100px;
    border-radius: 10px;
}

}
