<div class="form-container">
<h1>Find a Movie</h1>
<form class="titleForm" #form="ngForm" (ngSubmit)="submitForm(form)">
    <label for="title">Search by Title</label>
    <input type="text" name="title" id="title" ngModel>
    <button type="submit">Search Movies</button>
<!-- </form> -->

<h2>or filter by</h2>

<!-- <form class="filterForm" #formData="ngForm" (ngSubmit)="submitForm(formData)"> -->
    <label for="year">Year</label>
    <input type="number" name="year" id="year" ngModel>
    <label for="genre">Genre</label>
    <select name="genre" id="genre" ngModel>
        <option *ngFor = "let genre of genre" value = "{{ genre.id }}" >{{genre.name}}</option></select>
    <label for="rating">Rating</label>
    <input type="number" name="rating" id="rating" ngModel>
    <button>Search Movies</button>
</form>
</div>