.movies-wrapper {
  background-color: #041c45;
}
.single-movie {
  color: #D01698;
  font-family: 'Montserrat', sans-serif; 
  height: 20%;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 25px;
}




.popup-info {
  /* background-color:rgba(255, 255, 255, .4); */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: bolder;
}

.popup-container {
  height: 700px;
  width: 1000px;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
}

.popup {
  background-color: red;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 5px solid #08e8de;
}

.add-movie {
  height: 20px;
  width: 20px;
  border-radius: 30px;
  position: absolute;
  cursor: pointer;
}

.more-info:hover {
  box-shadow: 2px 2px 7px 5px #d4e026;
  background-color: #444444;
  color: #08e8de;
  border: 3px dotted;
  font-weight: bolder;
  cursor: pointer;
}



.exit:hover, .add:hover, .add-in-popup:hover {
  box-shadow: 2px 2px 7px 5px #d4e026;
  background-color: #444444;
  color: #08e8de;
  border: 3px dotted;
  font-weight: bolder;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .movies-wrapper {
    flex-wrap: wrap;
    margin-top: 10px;
    padding-top: 25px;
    justify-content: space-around;
  }
  .exit{
    color: #444444;
    background-color: #01b4e4;
    border-radius: 5px;
    background-color: #08e8de;
    cursor: pointer;
  }

  .add-in-popup {
    color: #444444;
    background-color: #01b4e4;
    border-radius: 5px;
    background-color: #08e8de;
    cursor: pointer;
  }
  
  .popup {
    background-color: #041c45;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 500px;
    border: 5px solid #08e8de;
    padding: 10px;
    border-radius: 25px;
    justify-content: space-around;
  }


  .more-info {
    margin-top: 10px;
    color: #3c5464;
  }
}
    /* background-color: #0d253f;
} */


img {
    width: 200px;
    padding: 20px;
    border-radius: 35px;
    padding-bottom: 0px;
    margin-bottom: -23px;
}

.add {
    /* position: absolute; */
    color: #444444;
    background-color: #01b4e4;
    border-radius: 5px;
    background-color: #08e8de;
    cursor: pointer;
    border: 1px;
    /* left: 185px; */
}

.more-info{
  background-color:#08e8de;
  border-radius: 5px;
  margin: 0;
  color: #444444;
  border: 1px;
}

.movies-wrapper{
  display: flex;
  flex-wrap: wrap;
  margin-top: 0;
}

.btnInfo{
  margin: 0;
  display:flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  width: 250px;
}

.add-in-popup{
  cursor: pointer;
}

.imgInfo{
  display:flex;
  justify-content: space-around;
  justify-content: center;
  align-items: center;
}

.infoBtn{
  display:flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  width: 450px;
}


