<header>
    <h1><a routerLink="/movie-list">Our Movie Project</a></h1>
    <nav><a routerLink="/watch-list">My Watchlist</a> </nav>
</header>
<div class="body">
<router-outlet></router-outlet>
</div>
<footer>
    <div>Data provided by</div>
    <img src="" alt="The Movie Database">
</footer>


<!-- <div>
<form #yearSearch='ngForm' (ngSubmit)="getMovies(yearSearch)">
    <label for="year">Year</label>
    <input type="text" id="year" name="year" ngModel>
    <button>Submit</button>
</form>
</div> -->


    <!-- <input type="text" name="something" [(ngModel)]="input">
    <button (click)="getMovies()">Submit</button> -->
