header {
    background-color: #01b4e4;
    height: 100px;
    display: flex;
    justify-content: space-between;
    margin-top: 0;
    padding-top: 0;
}

footer {
    background-color: black;
    height: 100px;
    color: white;
}


